.firstLine,
.secondLine {
  display: flex;
  justify-content: center;
  margin: 40px;
  /* border: 1px solid blue; */
}

.skill {
  font-size: 20px;
  margin-right: 30px;
  /* border: 1px solid red; */
}

.skillText {
  display: block;
  text-align: center;
  /* border: 1px solid red; */
}

.skillDesc {
  width: 85%;
  margin: 0 auto;
  /* border: 1px solid red; */
}
